.customModal {
    background-color: transparent !important;
    border: none;
    max-width: 90%; 
    margin: 0 auto; 
}

.modalBody {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.modalContentWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto; 
}

.leftSection {
    flex: 1; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.rightSection {
    flex: 2; 
    background-color: #333;
    color: white;
    padding: 20px;
}

.rightSection h2,
.leftSection h2 {
    margin-bottom: 20px;
}

.customButton {
    background-color: #f48540;
    color: white;
    border: none;
    width: 100%; 
    padding: 10px; 
}

.customButton:hover {
    background-color: #f89e66;
}


@media (max-width: 1200px) {
    .modalContentWrapper {
        flex-direction: column; 
    }

    .leftSection,
    .rightSection {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .customModal {
        max-width: 95%; 
    }
    
    .leftSection {
        margin-bottom: 20px; 
    }
    
    .rightSection {
        padding: 15px; 
    }

    .rightSection h2,
    .leftSection h2 {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .customModal {
        max-width: 100%; 
        padding: 0 10px; 
    }
    
    .leftSection,
    .rightSection {
        padding: 10px; 
    }

    .modalBody {
        flex-direction: column; 
    }

    .rightSection h2,
    .leftSection h2 {
        font-size: 1.2em; 
    }
}
