

  .studentListContainer {
    padding: 20px;
    background-color: #f7cf8f;
  }
  
  .responsiveContainer h2 {
    font-size: 1rem;
    text-align: center;
  }
  
  .table-responsive {
    margin-top: 1rem;
  }
  
  @media (max-width: 768px) {
    .studentListContainer {
      padding: 0.5rem;
    }
  
    .table-responsive {
      overflow-x: auto;
    }
  
    .responsiveContainer h2 {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 480px) {
    .studentListContainer {
      padding: 0.5rem;
    }
  
    .table-responsive {
      overflow-x: auto;
    }
  
    .responsiveContainer h2 {
      font-size: 1rem;
    }
  
    td, th {
      font-size: 0.85rem;
    }
  }
  
  