/* Dashboard.module.css */
.dashboardContainer {
    padding: 20px;
    background-color: #f7cf8f;
    height:85vh
  }
  
  .chartContainer {
    padding: 20px;
  
    
  }
  
  .card {
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  