.staffContainer {
    padding: 20px;
    background-color: #f7cf8f;
    justify-content: center; /* Align vertically */
    align-items: center; 
  
  }

  .fullWidthCol {
    width: 100%; /* Ensure all components occupy the same width */
  }
  
  .cardCol {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .cardCol {
      margin: 10px 0;
    }
  }
  