
.customNavbar {
  position: fixed;
      top: 0;
      z-index: 1030;
      width: 84%;
}
.userLogo {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    margin-right: 15px;
  }
  
  .userInfo {
    text-align: right; 
  }
  
  @media (max-width: 576px) {
    .userLogo {
      width: 30px; 
      height: 30px;
    }
  
    .userInfo {
      font-size: 0.8rem; 
    }

    .customNavbar {
      width: 100%;
    }

    .userLogo {
      margin-left: 30px;
    }
  }
  