.landingPage {
    height: 100vh; 
    background-image: url('../../assets/landingPage.png'); 
    background-size: cover; 
    background-position: center;
    position: relative;
}

.overlay {
    height: 100%;
}

.contentWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.schoolName {
    color: white;
    font-size: 3vh;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 5%; 
}

.loginButton {
    position: absolute;
    top: 5%;
    right: 20px;
}

.schoolIcon {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 200px; 
    height: 200px;
}

.schoolIcon img {
    width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .schoolName {
        font-size: 4vw;
        left: 10px;
        top: 10px;
    }

    .loginButton {
        top: 10px;
        right: 10px;
    }

    .schoolIcon {
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px; 
        height: 150px;
    }
}


@media (max-width: 480px) {
    .schoolName {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -100%); 
        font-size: 6vw; 
        text-align: center;
    }

    .loginButton {
        top: 10px; 
        right: 10px;
    }

    .schoolIcon {
        position: absolute;
        top: 60%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 100px; 
        height: 100px;
    }
}
