.menuIcon {
  top: 20px;
  z-index: 1050;
  cursor: pointer;
  color: #333;
  display: block;
}

.mainContent {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}


.show {
  display: block;
}

@media (min-width: 992px) {
  .menuIcon {
    display: none;
  }

 
}

@media (max-width: 992px) {
  .mainContent {
    margin-left: 0;
  }
}
